<div class =center>
    <div class="centerBlock"color="primary">
        <h1>About</h1>
        <p>Enigma Chat is a browser based program made by Eric Boysen. It is built and developed using Angular and Angular Web Sockets in order to provide
            seemless communication between clients. The purpose of the program is to give people an opportunity to see what it may have been like to be an Axis
            message writer or Allied code breaker in World War II. When joining a chat room you will be given the option to either be code breaker or a 
            code writer. Code writer will be presented with a code book telling them what configuration was required on the machine to send accurate messages using the Enigma
            cipher. Code breakers can 'intercept' these messages and try to decode them using some of the famous techniques that were developed by Albert Touring and the Polish 
            cryptographers that came before him. 

            I hope that you find this program interesting and educational. If you have any questions regarding its usage or inspiration. Please contact me at ericboysen1@gmail.com and
            I would be happy to help. If you detect any bugs or issues, please contact me and I will do my very best to resolve them as soon as possible. 
        </p>
    </div>
</div>
