<mat-drawer-container class =bg>
  <mat-drawer #drawer>
      <div class = container>
          <mat-nav-list class = wider>
              <a mat-list-item role=listitem routerLink="home" class=container>Home</a>
              <a mat-list-item role=listitem routerLink="about" class=container>About</a>
              <a mat-list-item role=listitem routerLink="usage" class=container>Usage</a>
              <a mat-list-item role=listitem routerLink="education" class=container>Education</a>
          </mat-nav-list>
      </div> 
  </mat-drawer>
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon class = ham>menu_icon</mat-icon>
  </button>
  <router-outlet></router-outlet>
</mat-drawer-container>